*~
.emacs.desktop*
Code/TAGS
Code/temp*.py
Untitled*.ipynb
__pycache__/
clone/
data/gasto-con-regalias
data/regions/source_material
data/sisfut/csv
data/sisfut/orig-xlsx
data/sisfut/quality-control
docker_commands.laptop.txt
fonts/all/
git*comment
logs/
output/
record-audio-stream/store/
temp/
dead/
_stale/not-in-git/
