*~
clone/
data/sisfut/original_csv/*.csv
output/
data/sisfut/heads
data/sisfut/collated-subsets
data/*/source_material
git*comment
Untitled*.ipynb
fonts/all/
__pycache__/
docker_commands.laptop.txt
logs/
hopefully-ignorable/
Code/TAGS
